---
import * as Icon from 'iconsax-astro';
interface Props {
  icon: string;
  type: string;
  size: number;
  checked: boolean;
}

const { icon, type, size, checked } = Astro.props;

const IconComponent = Icon[icon];
---

<input type="radio" id={type} name="icons" value={type} class=`peer/${type} hidden` />
<label
  for={type}
  class=`card py-5 gap-5 items-center w-40 bg-neutral shadow-xl cursor-pointer hover:bg-base-100 transition-colors peer-checked/${type}:bg-base-100`
>
  <IconComponent type={type} size={size} color="currentColor" class="text-primary" />
  {type.charAt(0).toUpperCase() + type.slice(1)}
</label>
